

.sub-header
{
  background-color: #eee6e6;
  width:97.6%;
  margin: 16px;
  display: flex;
  flex-direction: row;
  height: 7vh;
  align-items: center;
  border-radius: 6px;
  border-bottom: 2px solid #9fadc9;


  
}

.desc-text
{
  text-align: center;
  flex: 1 60%;
}

.expected-text
{
  min-width: 125px;
}

.income-text
{
  min-width: 125px;
}

.date-text
{
  min-width: 125px;
}
